<template>
    <div class="row ml-lg-5 mr-lg-5 mb-2" @drop.prevent="dropHandler" @dragover.prevent>
        <label class="h2 m-auto font-weight-normal" for="csv">{{strings.cdc_instruction}}</label>
        <input class="m-3 text-center vw-100" type="file" @change="file"/>
        <textarea id="csv" class="vw-100" :placeholder="strings.drag_and_drop_possible" v-model="csv"/>
        <div v-if="error !== ''" class="text-danger m-auto">{{error}}</div>
        <button class="btn btn-block btn-primary mt-2" @click="submit">{{strings.submit}}</button>
    </div>
</template>

<script>
    const parse = require('csv-parse');
    import {Strings} from "../resources/strings";
    import {Transaction} from "../models/transaction";

    export default {
        name: 'Import',
        data: function () {
            return {
                strings: Strings.default(),
                csv: "",
                error: ""
            }
        },
        methods: {
            processFile: function (file) {
                let _this = this;
                if (file.name.includes('.csv') || file.type === "text/csv") {
                    let reader = new FileReader();
                    reader.readAsText(file, "UTF-8");
                    reader.onload = function (evt) {
                        _this.csv = evt.target.result;
                        _this.error = "";
                    };
                    reader.onerror = function () {
                        _this.error = Strings.default().error_reading_file;
                    }
                } else {
                    _this.error = Strings.default().invalid_file_type + ' (' + file.type + ')';
                }
            },
            file: function (e) {
                let file = e.target.files[0];
                this.processFile(file);
            },
            dropHandler: function (e) {
                if (e.dataTransfer.files.length > 0) {
                    let file = e.dataTransfer.files[0];
                    this.processFile(file);
                }
            },
            submit: function () {
                const _this = this;
                parse(this.csv, {}, function (err, output) {
                    if (err) {
                        _this.error = Strings.default().invalid_csv + " - " + err.message;
                        return;
                    }

                    if (JSON.stringify(output[0]) === '["Timestamp (UTC)","Transaction Description","Currency","Amount","To Currency","To Amount","Native Currency","Native Amount","Native Amount (in USD)","Transaction Kind"]') {
                        let data = [];

                        let sum = 0.0;
                        let temp = {};

                        output.reverse().forEach((row, index) => {
                            if (index === output.length - 1)
                                return;

                            let date = row[0];
                            let type = row[1];
                            let currency = row[2];
                            let quantity = row[3];
                            let currencyTo = row[4];
                            let quantityTo = row[5];
                            let currencyNative = row[6];
                            let quantityNative = row[7];

                            let transaction;

                            // dust transactions
                            if (type === "Convert Dust") {
                                if (currency !== "MCO" && currency !== "CRO") {
                                    quantityNative = Transaction.nonZero(parseFloat(quantityNative));
                                    sum += quantityNative;
                                    temp[currency] = {};
                                    temp[currency].native = quantityNative;
                                    temp[currency].amount = parseFloat(quantity)
                                } else {
                                    Object.keys(temp).forEach(function (dust) {
                                        let amount = parseFloat(quantity) / parseFloat(sum) * parseFloat(temp[dust].native);
                                        transaction = new Transaction();
                                        transaction.trade(date, amount, currency, parseFloat(temp[dust].amount), dust);
                                        transaction.notes = type;
                                        transaction.translate();
                                        data.push(transaction);
                                    });

                                    sum = 0.0;
                                    temp = {};
                                }
                                return;
                            }

                            transaction = new Transaction();
                            // other transactions
                            if (type.includes("Unlocked") || type === "Crypto Earn" || type === "MCO Stake Rewards" || type === "Staking Rewards" || type.includes("Referral Bonus") || type === "Card Cashback" || type.includes("Card Rebate:")) {
                                transaction.deposit(date, quantity, currency);
                                transaction.notes = type;
                            } else if (type.includes("Buy") || (type.includes("Deposit") && !type.includes("Earn"))) {
                                transaction.trade(date, quantity, currency, quantityNative, currencyNative);
                            } else if (type.includes("->")) {
                                if (quantityTo !== "")
                                    transaction.trade(date, quantityTo, currencyTo, quantity, currency);
                                else if (type.includes("-> App wallet"))
                                    transaction.trade(date, quantity, currency, quantityNative, currencyNative);
                                else
                                    transaction.trade(date, quantityNative, currencyNative, quantity, currency);

                                if (type.includes("Transfer"))
                                    transaction.notes = type
                            } else if (type.includes("Withdraw") && !type.includes("Earn")) {
                                transaction.trade(date, quantityNative, currencyNative, quantity, currency);
                                transaction.notes = type;
                            } else if (type.includes("Reversal")) {
                                transaction.withdraw(date, quantity, currency);
                                transaction.notes = type;
                            }

                            transaction.translate();

                            if (transaction.type !== "")
                                data.push(transaction);
                        });

                        _this.$emit('submit', data)
                    } else {
                        _this.error = Strings.default().invalid_header;
                    }
                })
            }
        }
    }
</script>

<style scoped>
    label {
        font-weight: bolder;
    }

    textarea {
        height: 25vh;
    }
    @media (min-width: 767px) {
        textarea {
            height: 40vh;
        }
    }
    @media (min-width: 991px) {
        textarea {
            height: 60vh;
        }
    }
</style>
