<template>
    <div class="row ml-lg-5 mr-lg-5 mb-2">
        <button class="btn btn-block btn-success mt-2" @click="submit">{{strings.download}}</button>
        <button class="btn btn-block btn-danger mt-2" @click="retry">{{strings.retry}}</button>
        <h2 id="summary" class="m-auto pt-2 pb-2">{{strings.summary}}</h2>
        <div class="table-responsive text-center">
            <table aria-describedby="summary" class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="row">{{strings.currency}}</th>
                    <th scope="row">{{strings.total}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(amount, currency, index) in getTotals" v-bind:key="index">
                    <td>{{currency}}</td>
                    <td>{{parseFloat(amount).toFixed(8)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 id="breakdown" class="m-auto pb-1">{{strings.breakdown}} ({{processed.length}})</h2>
        <div class="table-responsive text-center">
            <table aria-describedby="breakdown" class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="row">#</th>
                    <th scope="row">{{strings.timestamp}}</th>
                    <th scope="row">{{strings.type}}</th>
                    <th scope="row">{{strings.base_amount}}</th>
                    <th scope="row">{{strings.base_currency}}</th>
                    <th scope="row">{{strings.quote_amount}}</th>
                    <th scope="row">{{strings.quote_currency}}</th>
                    <th scope="row">{{strings.sent_received}}</th>
                    <th scope="row">{{strings.sent_to}}</th>
                    <th id="notes">{{strings.notes}}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(transaction, index) in processed" v-bind:key="index">
                    <td>{{index+1}}</td>
                    <td>{{transaction.date}}</td>
                    <td>{{transaction.type}}</td>
                    <td>{{transaction.baseAmount}}</td>
                    <td>{{transaction.baseCurrency}}</td>
                    <td>{{transaction.quoteAmount}}</td>
                    <td>{{transaction.quoteCurrency}}</td>
                    <td>{{transaction.from}}</td>
                    <td>{{transaction.to}}</td>
                    <td><input aria-label="notes" type="text" v-model="transaction.notes"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-block btn-danger mt-2" @click="retry">{{strings.retry}}</button>
        <button class="btn btn-block btn-success mt-2" @click="submit">{{strings.download}}</button>
    </div>
</template>

<script>
    import {Strings} from "../resources/strings";

    export default {
        name: 'Process',
        props: {
            processed: []
        },
        data: function () {
            return {
                strings: Strings.default()
            }
        },
        created: function () {
            window.scrollTo(0, 0);
        },
        computed: {
            getTotals: function () {
                let totals = {};
                this.processed.forEach((transaction) => {
                    if (!(transaction.baseCurrency in totals))
                        totals[transaction.baseCurrency] = 0.0;

                    switch (transaction.type) {
                        case "BUY":
                            if (transaction.sync === "1") {
                                if (!(transaction.quoteCurrency in totals))
                                    totals[transaction.quoteCurrency] = 0.0;
                                totals[transaction.quoteCurrency] = totals[transaction.quoteCurrency] - parseFloat(transaction.quoteAmount);
                            }
                        // falls through
                        case "DEPOSIT":
                            totals[transaction.baseCurrency] = totals[transaction.baseCurrency] + parseFloat(transaction.baseAmount);
                            break;
                        case "SELL":
                            if (transaction.sync === "1") {
                                if (!(transaction.quoteCurrency in totals))
                                    totals[transaction.quoteCurrency] = 0.0;
                                totals[transaction.quoteCurrency] = totals[transaction.quoteCurrency] + parseFloat(transaction.quoteAmount);
                            }
                        // falls through
                        case "WITHDRAW":
                            totals[transaction.baseCurrency] = totals[transaction.baseCurrency] - parseFloat(transaction.baseAmount);
                            break;
                    }
                });

                return totals;
            }
        },
        methods: {
            retry: function () {
                this.$emit('retry')
            },
            submit: function () {
                this.$emit('generate')
            }
        }
    }
</script>
