<template>
  <div id="app" class="container-fluid">
    <div class="row">
      <h1 class="m-auto pb-2">Crypto.com CSV ⇄ Delta CSV</h1>
    </div>
    <Import v-if="!processed.length" @submit="imported"/>
    <Process v-cloak v-else v-bind:processed="processed" @retry="retry" @generate="generate"/>
    <footer class="small text-center">
      <strong>{{strings.data_collection}}</strong><br/>
      <span v-html="strings.affiliation"></span><br/>
      {{strings.risk}}<br/>
      <br/>
      <a href="https://gitlab.com/jarylc/javascript-vue-cdc-to-delta-csv-converter" target="_blank"
         rel="noopener noreferrer">{{strings.source_codes}}</a><br/>
      <a href="https://billing.usonyx.net/aff.php?aff=8400187" target="_blank" rel="noopener noreferrer"><strong>{{strings.hosted}}</strong></a><br/>
      <br/>
      <a href="https://jarylchng.com" target="_blank" rel="noopener noreferrer"><strong>Jaryl Chng</strong></a>
    </footer>
  </div>
</template>

<script>
  import Import from "./components/Import";
  import Process from "./components/Process";
  import {Strings} from "./resources/strings";

  export default {
    name: 'App',
    components: {
      Process,
      Import
    },
    data: function () {
      return {
        strings: Strings.default(),
        processed: []
      }
    },
    methods: {
      imported: function (processed) {
        this.processed = processed;
      },
      retry: function () {
        this.processed = [];
      },
      generate: function () {
        let output = "Date,Type,Exchange,Base amount,Base currency,Quote amount,Quote currency,Fee,Fee currency,Costs/Proceeds,Costs/Proceeds currency,Sync Holdings,Sent/Received from,Sent to,Notes\n";
        this.processed.forEach((transaction) => {
          output += transaction.toString();
        });

        let element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(output));
        element.setAttribute('download', 'delta_' + Date.now() + '.csv');
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
      }
    }
  }
</script>

<style>
  [v-cloak] {
    display: none;
  }
</style>
